.room-section > article {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 14px;
}

.sensors-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
}
